<head>
	<meta charset="utf-8">
	<meta name="author" content="Softnio">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<!-- Fav Icon  -->
	<link rel="shortcut icon" href="images/favicon/favicon-32x32.png">
	<!-- Site Title  -->
	<title>ProximaX Identity</title>
	<!-- Bundle and Base CSS -->
	<link rel="stylesheet" href="assets/css/vendor.bundle.css?ver=150">
	<link rel="stylesheet" href="assets/css/style.css?ver=150">
	<!-- Color Scheme CSS -->
	<link rel="stylesheet" href="assets/css/theme.css?ver=150" id="theming">
	
</head>