<div id="header" class="banner banner-full d-flex align-items-center banner-lungwort">
    <div class="container">
        <div class="banner-content">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="banner-gfx animated" data-animate="fadeInUp" data-delay=".9">
                        <img src="images/logo/proximax-identity.png" alt="header-image" class="id-logo">
                    </div>
                </div><!-- .col  -->
                <div class="col-lg-6">
                    <div class="header-image-lg animated" data-animate="fadeInRight" data-delay="1.35">
                        <img src="id-images/g2.png" alt="header" class="id-featureimage"> 
                    </div>
                </div><!-- .col  -->
            </div><!-- .row  -->
        </div><!-- .banner-content  -->
    </div><!-- .container  -->
</div>