<!-- Preloader !remove please if you do not want -->
<div id="preloader">
    <div id="loader"></div>
    <div class="loader-section loader-top"></div>
       <div class="loader-section loader-bottom"></div>
</div>
<!-- Preloader End -->

<!-- JavaScript (include all script here) -->
<script src="assets/js/jquery.bundle.js?ver=142"></script>
<script src="assets/js/script.js?ver=142"></script>