
<div id="about" class="section section-pad-sm no-pb section-bg">
	<div class="container" style="padding-bottom:50px;">
		<div class="row justify-content-center">
			<div class="col-lg-12 text-center">
				<h2 class="section-title-s6 animated" data-animate="fadeInUp" data-delay=".2">ABOUT</h2>
				<h6 class="heading-sm animated" data-animate="fadeInUp" data-delay=".4">WHAT IS PROXIMAX IDENTITY?</h6>
				<p>ProximaX Identity is a unique solution that allows creating a unified verification system for the population of any country, which can be used
					to sto0re personal information in a verifiable form. This solution is the door to the multifunctional citizen's life when using any government services.
					A person does not need to collect document folder and spend hours confirming the necessary data.
				</p>
		</div>
	</div>
</div>

<div id="howitworks" class="section section-pad-sm no-pb section-bg-dark">
		<div class="container" style="padding-bottom:50px;">
            <div class="row justify-content-center">
                <div class="col-lg-12 text-center">
					<h2 class="section-title-s6 animated" data-animate="fadeInUp" data-delay=".2">How it Works</h2>
					<h6 class="heading-sm animated" data-animate="fadeInUp" data-delay=".4">CREATING AN INDIVIDUAL ACCOUNT</h6>
					<img class="image_full animated" data-animate="fadeInUp" data-delay=".6" src="id-images/stepbystep.png" alt="icon">
					<img class="image_mobile animated" data-animate="fadeInUp" data-delay=".6" src="id-images/stepbystep-mobile.png">
				</div>
			</div>
		</div>
	</div>


	<div class="section section-pad section-bg" id="usecases">
	    <div class="container">
	        <div class="row justify-content-center text-center">
	            <div class="col-lg-4 col-md-6">
					<h6 class="heading-sm text-center animated" data-animate="fadeInUp" data-delay=".1">USE CASES</h6>
					<br>
				</div>
	        </div>
	        <div class="row justify-content-center text-center">
	            <div class="col-lg-8 animated" data-animate="fadeInUp" data-delay=".3">
	                <div class="slider-dot">
						<div class="slider-dot-item owl-dots"><em class="ikon ikon-shiled"></em></div>
						<div class="slider-dot-item owl-dots"><em class="ikon ikon-id-card"></em></div>
						<div class="slider-dot-item owl-dots"><em class="ikon ikon-paricle"></em></div>
						<div class="slider-dot-item owl-dots"><em class="ikon ikon-connect"></em></div>
						<div class="slider-dot-item owl-dots"><em class="ikon ikon-car"></em></div>
					</div>
                   <div class="gaps size-2x"></div>
                    <div class="slider-pane">
						<div class="slider-pane-item pane-item-1">
							<h5 class="animate-up delay-5ms">Access Management</h5>
							<p class="animate-up delay-6ms">Areas like storage, parking lots, board rooms, etc. require a different level of access and security. ProximaX Identity can be used to restrict access only to pre-approved personnel.</p>
						</div>
						<div class="slider-pane-item pane-item-2">
							<h5 class="animate-up delay-5ms">Universal ID</h5>
							<p class="animate-up delay-6ms">Manage your identity documents all in one platform. ProximaX Identity can be used to store all your IDs, login credentials, licenses, etc.</p>
						</div>
						<div class="slider-pane-item pane-item-3">
							<h5 class="animate-up delay-5ms">Asset Tags</h5>
							<p class="animate-up delay-6ms">Your laptop, tablet, smartphone and luxury goods are quite an investment as well. ProximaX Identity can be used for inventory and location tracking of all your valuables.</p>
						</div>
						<div class="slider-pane-item pane-item-4">
							<h5 class="animate-up delay-5ms">Interactive Marketing</h5>
							<p class="animate-up delay-6ms">Bored with traditional advertising? ProximaX Identity can bring a certain level of interaction to your campaign through the use of NFC connectivity.</p>
						</div>
						<div class="slider-pane-item pane-item-5">
							<h5 class="animate-up delay-5ms">Transportation Management and Ticketing System</h5>
							<p class="animate-up delay-6ms">Using ProximaX Identity can help ensure secured authentication, secured billing and seamless ticketing for transportation management.</p>
						</div>
					</div>
	            </div>
	        </div>
	    </div>
	</div>