
	<!-- Start Section -->
	<div id="howitworks" class="section section-pad-sm no-pb section-bg-dark">
		<div class="container" style="padding-bottom:50px;">
            <div class="row justify-content-center">
                <div class="col-lg-12 text-center">
					<h2 class="section-title-s6 animated" data-animate="fadeInUp" data-delay=".2">How it Works</h2>
					<h6 class="heading-sm animated" data-animate="fadeInUp" data-delay=".1">CREATING AN INDIVIDUAL ACCOUNT</h6>
					<img src="id-images/stepbystep.png" alt="icon">
                </div>
			</div>
		</div><!-- .conatiner  -->
	</div>


	<div class="section section-pad section-bg" id="usecases">
	    <div class="container">
	        <div class="row justify-content-center text-center">
	            <div class="col-lg-4 col-md-6">
					<h6 class="heading-sm text-center animated" data-animate="fadeInUp" data-delay=".1">USE CASES</h6>
					<br>
				</div>
	        </div>
	        <div class="row justify-content-center text-center">
	            <div class="col-lg-8 animated" data-animate="fadeInUp" data-delay=".3">
	                <div class="slider-dot">
						<div class="slider-dot-item owl-dots"><em class="ikon ikon-shiled"></em></div>
						<div class="slider-dot-item owl-dots"><em class="ikon ikon-id-card"></em></div>
						<div class="slider-dot-item owl-dots"><em class="ikon ikon-paricle"></em></div>
						<div class="slider-dot-item owl-dots"><em class="ikon ikon-connect"></em></div>
						<div class="slider-dot-item owl-dots"><em class="ikon ikon-car"></em></div>
					</div>
                   <div class="gaps size-2x"></div>
                    <div class="slider-pane">
						<div class="slider-pane-item pane-item-1">
							<h5 class="animate-up delay-5ms">Access Management</h5>
							<p class="animate-up delay-6ms">Areas like storages, parking lots, board rooms, etc. requires a different level of access and security. ProximaX Identity can be used to restrict access only to pre-approved personnels.</p>
						</div>
						<div class="slider-pane-item pane-item-2">
							<h5 class="animate-up delay-5ms">Universal ID</h5>
							<p class="animate-up delay-6ms">Manage your identity documents all in one platform. ProximaX Identity can be used to store all your IDs, login credentials, licenses, etc.</p>
						</div>
						<div class="slider-pane-item pane-item-3">
							<h5 class="animate-up delay-5ms">Asset Tags</h5>
							<p class="animate-up delay-6ms">Your laptop, tablets, smartphones and luxury goods are quite an investment as well. ProximaX Identity can be used for inventory and location tracking of all your valuables.</p>
						</div>
						<div class="slider-pane-item pane-item-4">
							<h5 class="animate-up delay-5ms">Interactive Marketing</h5>
							<p class="animate-up delay-6ms">Board with traditional advertising? ProximaX Identity can bring a certain level of interaction to your campaign through the use of NFC connectivity.</p>
						</div>
						<div class="slider-pane-item pane-item-5">
							<h5 class="animate-up delay-5ms">Transportation Management and Ticketing System</h5>
							<p class="animate-up delay-6ms">Use proximaX Identity can help ensure secured authentication, secured billing and seamless ticketing for transport management.</p>
						</div>
					</div>
	            </div>
	        </div>
	    </div>
	</div>


	<div id="stack" class="section section-pad-sm no-pb section-bg-dark">
		<div class="container" style="padding-bottom:50px;">
            <div class="row justify-content-center">
                <div class="col-lg-10">
					<h6 class="heading-sm text-center animated" data-animate="fadeInUp" data-delay=".1">TECH STACK</h6>
					<br>
                    <ul class="text-center">
						<li class="animated" data-animate="fadeInUp" data-delay="1.4">
							<div>
								<img src="images/cplus.png" alt="icon" class="cplus">
							</div>
						</li>
						<li >
							<img src="images/ts.png" alt="icon" class="ts animated" data-animate="fadeInUp" data-delay="1.2">
							<img src="images/js.png" alt="icon" class="ts animated" data-animate="fadeInUp" data-delay="1">
							<img src="images/react.png" alt="icon" class="ts animated" data-animate="fadeInUp" data-delay=".8">
						</li>
						<li >
							<img src="images/node.png" alt="icon" class="nd animated" data-animate="fadeInUp" data-delay=".6">
							<img src="images/mondodb.png" alt="icon" class="nd animated" data-animate="fadeInUp" data-delay=".4">
						</li>
					</ul>
                </div>
            </div>
		</div><!-- .conatiner  -->
	</div>
	<!-- Start Section -->


	<!-- Start Section -->
	<div id="architecture" class="section section-pad no-pb section-bg">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-10">
					<h6 class="heading-sm text-center animated" data-animate="fadeInUp" data-delay=".1">PROJECT ARCHITECTURE</h6>
				</div>
			</div>
			<br><br><br><br>
			<div class="row align-items-center justify-content-between">
				<div class="col-md-6">
					<div class="res-m-btm animated" data-animate="fadeInUp" data-delay=".1">
						<img src="id-images/NFC.png" alt="graph">
					</div>
				</div><!-- .col  -->
				<div class="col-md-6 order-lg-first order-last">
					<div class="text-block">
						<h2 class="animated" data-animate="fadeInUp" data-delay=".2">NFC Layer</h2>
						<p class="animated" data-animate="fadeInUp" data-delay=".3">The NFC layer is written by C++. The name of С++ project PCSC. It contains logic to
							read/write private/public keys to NFC reader via USB and logic to communicate with
							frontend application via socket.</p>
						<h3 class="animated" data-animate="fadeInUp" data-delay=".4">The flow to get keys:</h3>
						<ol>
							<li class="animated" data-animate="fadeInUp" data-delay=".6">User application requests private/public key in json format via socket.</li>
							<li class="animated" data-animate="fadeInUp" data-delay=".7">PCSC is parsing json, waiting for card from reader and reads private/public keys from
								reader via USB.</li>
							<li class="animated" data-animate="fadeInUp" data-delay=".8">PCSC sends response in json format back to user application.</li>
						</ol> <br>
						<h4 class="animated" data-animate="fadeInUp" data-delay="1">The flow to store keys is similar​ . But we write keys to card via USB -> Reader.</h4>
					</div>
				</div><!-- .col  -->
			</div><!-- .row  -->
		</div><!-- .conatiner  -->
	</div>
	<!-- Start Section -->


	<!-- Start Section -->
	<div class="section section-pad no-pb section-bg">
		<div class="container">
			<div class="row align-items-center justify-content-between">
				<div class="col-md-6">
					<div class="res-m-btm animated" data-animate="fadeInUp" data-delay=".1">
						<img src="id-images/front end.png" alt="graph">
					</div>
				</div><!-- .col  -->
				<div class="col-md-6">
					<div class="text-block">
						<h2 class="animated" data-animate="fadeInUp" data-delay=".3">Front End Layer</h2>
						<p class="animated" data-animate="fadeInUp" data-delay=".4">The Frontend layer is written on React framework. The main functionality is UI but also It
							contains logic to pass information between User/NFC/Backend</p>
					</div>
				</div><!-- .col  -->
			</div><!-- .row  -->
		</div><!-- .conatiner  -->
	</div>
	<!-- Start Section -->


	<!-- Start Section -->
	<div class="section section-pad section-bg">
		<div class="container">
			<div class="row align-items-center justify-content-between">
				<div class="col-md-5">
					<div class="res-m-btm animated" data-animate="fadeInUp" data-delay=".1">
						<img src="id-images/backend.png" alt="graph">
					</div>
				</div><!-- .col  -->
				<div class="col-md-6 order-md-first order-last">
					<div class="text-block">
						<h2 class="animated" data-animate="fadeInUp" data-delay=".3">Back End Layer</h2>
						<p class="animated" data-animate="fadeInUp" data-delay=".4">The Backend layer is nodejs server. It contains logic to:</p>
						<ul>
							<li class="animated" data-animate="fadeInUp" data-delay=".6">Work with MongoDB to store/get an indexed information about Users(Full Name,
								Public Key and PSN).</li>
							<li class="animated" data-animate="fadeInUp" data-delay=".8">Upload/Download files to ProximaX</li>
							<li class="animated" data-animate="fadeInUp" data-delay="1">Create a new users, create a new officers, recovery users.</li>
						</ul>
					</div>
				</div><!-- .col  -->
			</div><!-- .row  -->
		</div><!-- .conatiner  -->
	</div>
	<!-- Start Section -->





	<!-- Start Section -->
	<div class="section section-pad section-bg-alt" id="faq">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
				    <div class="section-head-s6 text-center" style="color:white;">
                        <h2 class="section-title-s6 animated" data-animate="fadeInUp" data-delay=".2" style="color:white;">ProximaX Layer</h2>
                        <p class="animated" data-animate="fadeInUp" data-delay=".3" style="color:white;">The ProximaX layer is storing files and blockchain.</p>
						<h6 class="heading-sm library animated" data-animate="fadeInUp" data-delay=".1">used libraries</h6>
					</div>
					
					<div class="row text-center">
						
						<div class="col-sm-3">
							<div class="token-stage animated" data-animate="fadeInUp" data-delay=".4">
								<div class="token-stage-title token-stage-pre text-center">C++</div>
								<div class="token-stage-date" style="color:black;">
									<ul>
										<li>boost</li>
										<li>pcsclite</li>
										<li>cmake, make</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="token-stage animated" data-animate="fadeInUp" data-delay=".6">
								<div class="token-stage-title token-stage-pre text-center">Typescript, Javascript</div>
								<div class="token-stage-date" style="color:black;">
									<ul>
										<li>React</li>
										<li>Axios</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="token-stage animated" data-animate="fadeInUp" data-delay=".8">
								<div class="token-stage-title token-stage-pre text-center">Node.js</div>
								<div class="token-stage-date" style="color:black;">
									<ul>
										<li>MongoDB</li>
										<li>Koa</li>
										<li>ProximaX NEM2 Library</li>
										<li>Rxjs</li>
										<li>WS</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="token-stage animated" data-animate="fadeInUp" data-delay="1">
								<div class="token-stage-title token-stage-pre text-center">OTHER</div>
								<div class="token-stage-date" style="color:black;">
									<ul>
										<li>Docker</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</div><!-- .row -->
		</div><!-- .container -->
	</div>
	<!-- End Section -->


