<!-- Start Section -->
<div class="section subscribe-section-s2 section-bg section-dark" id="subscribe" style="background:#2493ab;">
    <div class="container">
        <div class="subscribe-box animated" data-animate="fadeInUp" data-delay=".2">
            <div class="row">
                <div class="col-lg-6" >
                    <div class="heading-sm-s3" >
                        <h5 style="color:#fff !important;">Don't miss out, stay updated</h5>
                        <p style="color:#fff !important;">Subscribe to receive updates about our latest builds and projects</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="gaps size-2x"></div>
                    <form id="subscribe-form" action="form/subscribe.php" method="post" class="subscription-form inline-form-s2">
                        <input type="text" name="youremail" class="input-round-s2 required email" placeholder="Enter your email address" >
                        <input type="text" class="d-none" name="form-anti-honeypot" value="">
                        <button type="submit" class="btn">Subscribe</button>
                        <div class="subscribe-results"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Section -->