<!DOCTYPE html>
<html>
<% include ../partials/header %>
<body class="theme-dark io-lungwort" data-spy="scroll" data-target="#mainnav" data-offset="80">
	<header class="site-header is-sticky">
		<div id="particles-js" class="particles-container particles-js"></div>
        <% include ../partials/nav %>
        <% include ../partials/home %>
        </header>
        <% include ../partials/sections %>   
        <% include ../partials/subscribe %> 
        <% include ../partials/footer %>
    </div>
       <% include ../partials/scripts %>
    
</body>
</html>
